.ui-menu-item{
	font-size:13;
	font-family:arial;
}
#bigbox{
	width:420px;
	float:left;
}
#toolH{
	font-weight:bold;
	margin: 5px 0 0 5px;
	font-size:14;
	line-height:18px;
} 
#toolI{
	margin: 0 0 0 15px;
	font-size:14;
	line-height:18px;
}
#toolI a{
	color:#000;
	text-decoration:none;
}
#toolI a:hover{
	color:#000;
	text-decoration:underline;
}
#toolI a:visited{
	color:#000;
	text-decoration:none;
}
#toolI a:active{
	color:#000;
	text-decoration:none;
	font-weight:bold;
}
#toolb{
	margin: 0 0 0 15px;
	font-size:14;
	line-height:18px;
}
#toolb a{
	color:#000;
	text-decoration:none;
}
#toolb a:hover{
	color:#000;
	text-decoration:underline;
}
#toolb a:visited{
	color:#000;
	text-decoration:none;
}
#toolb a:active{
	color:#000;
	text-decoration:none;
}
#toolbar{
	width:130px;
	height:840px;
	background:#D0D9E5;
	float:left;
	font-family:arial;
}
#wrapper{
	float:left;
	padding: 10 0 0 10px;
	font-family:arial;
	font-size:14;
}
#header{
	height:25px;
	width:1240px;
	background:#A0ABC0;
	padding-top:5px;
	text-align:center;
	font-family:arial;
}
.left {
	font-weight:bold;
	width:200px;
	float:left;
	text-align:right;
	margin-right:10px;
	height:20px;
	line-height:24px;
}
.b1 {
	background:#DDD;
}
.b2 {
	background:#FFF;
}
#bigbox > div {
	height:23px;
	padding-top:2px;
}
#bigbox > #hide1,
#bigbox > #hide2,
#bigbox > #hide3,
#bigbox > #hide4,
#bigbox > #hide5 {
	height: 407px;
}
#hide1 > div,
#hide2 > div,
#hide3 > div,
#hide4 > div,
#hide5 > div {
	height:48px;
}
#hide1 .b1,
#hide1 .b2,
#hide2 .b1,
#hide2 .b2,
#hide3 .b1,
#hide3 .b2,
#hide4 .b1,
#hide4 .b2,
#hide5 .b1,
#hide5 .b2 {
	height:23px;
	padding-top:2px;
}